n8n/workflows/scout_bot.json
{
  "name": "Finako Scout Telegram Bot",
  "nodes": [
    {
      "parameters": {
        "updates": [
          "message",
          "callback_query"
        ],
        "additionalFields": {}
      },
      "id": "e72bf84d-b31c-43bc-9a15-4dc15f9b4c01",
      "name": "Telegram Trigger",
      "type": "n8n-nodes-base.telegramTrigger",
      "typeVersion": 1.1,
      "position": [
        200,
        300
      ],
      "credentials": {
        "telegramApi": {
          "id": "",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "97e68df9-46dc-4fcb-8f35-e10d32b50de0",
              "leftValue": "={{ $json.updateType }}",
              "rightValue": "message",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "673f3248-cb58-45e0-9bc8-52fb013bfebf",
      "name": "Check Message Type",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        420,
        300
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://backend:8000/api/scout/discover",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "x-telegram-id",
              "value": "={{ $json.message.from.id }}"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "query",
              "value": "={{ $json.message.text }}"
            }
          ]
        },
        "options": {
          "response": {
            "response": {
              "fullResponse": true
            }
          }
        }
      },
      "id": "a9b9b8b3-c9d3-4f9e-9d2a-8d1b1c2b3c4d",
      "name": "Call Finako API (Discover)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        680,
        180
      ]
    },
    {
      "parameters": {
        "method": "PATCH",
        "url": "={{ 'http://backend:8000/api/scout/opportunities/' + $json.callback_query.data.split('_')[1] + '/status' }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "x-telegram-id",
              "value": "={{ $json.callback_query.from.id }}"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "status",
              "value": "={{ $json.callback_query.data.split('_')[0] === 'approve' ? 'evaluating' : 'rejected' }}"
            }
          ]
        },
        "options": {}
      },
      "id": "f5a7e6b7-c2d1-4e2b-8a5c-1f4d9c7a6e2b",
      "name": "Update Opportunity Status",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        680,
        420
      ]
    },
    {
      "parameters": {
        "chatId": "={{ $('Telegram Trigger').item.json.message.chat.id }}",
        "text": "={{ '🎯 *Hasil Pencarian:*\\n\\n' + $json.body.data.map(item => '🏢 *' + item.analysis.company_name + '*\\nSkor: ' + item.analysis.evaluation.score + '/100\\nAlasan: ' + item.analysis.evaluation.reasoning + '\\n\\n').join('') }}",
        "replyMarkup": "none",
        "additionalFields": {
          "parseMode": "Markdown"
        }
      },
      "id": "b3e9a5c8-d4f1-4a3b-9e2c-2f5d8e6a7b3c",
      "name": "Send Results to Telegram",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.1,
      "position": [
        940,
        180
      ],
      "credentials": {
        "telegramApi": {
          "id": "",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "chatId": "={{ $('Telegram Trigger').item.json.callback_query.message.chat.id }}",
        "text": "={{ 'Status peluang telah diperbarui menjadi: ' + $json.data.status }}",
        "additionalFields": {}
      },
      "id": "c1f2d3e4-a5b6-4c7d-8e9f-3a4b5c6d7e8f",
      "name": "Send Status Confirmation",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.1,
      "position": [
        940,
        420
      ],
      "credentials": {
        "telegramApi": {
          "id": "",
          "name": "Telegram account"
        }
      }
    }
  ],
  "connections": {
    "Telegram Trigger": {
      "main": [
        [
          {
            "node": "Check Message Type",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Message Type": {
      "main": [
        [
          {
            "node": "Call Finako API (Discover)",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Update Opportunity Status",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Call Finako API (Discover)": {
      "main": [
        [
          {
            "node": "Send Results to Telegram",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update Opportunity Status": {
      "main": [
        [
          {
            "node": "Send Status Confirmation",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "f90069dc-3c07-4e67-8d26-787163cbe638",
  "id": "XkF9s8m2L0P5q1nW"
}
